// -------- 3rd Party Platform Colours -----------
$facebook-primary-color: #3b5998;
$twitter-primary-color: #00aced;
$yahoo-primary-color: #674172;
$pinterest-primary-color: #bd081c;
$snapchat-primary-color: #fffc00;

// -------- Colors -----------
$primary-color: #108ee9;
$info-color: #108ee9;
$success-color: #00a854;
$error-color:  #f04134;
$highlight-color:  #f04134;
$warning-color: #ffbf00;
$normal-color: #d9d9d9;
$border-grey: #e6e6e6;
